<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <img src="http://415vik.aquinas.hostingrails.com/images/32x32/logo.jpg"></img>
    </p>

    <h1>The battle of <%= @the_battle %> has come to an end</h1>
    <p>
    The battle is over for you ... go start a new fight!
    </p>
  </body>
</html>
