<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <img src="http://415vik.aquinas.hostingrails.com/images/32x32/logo.jpg"></img>
    </p>
    
    <h1>Vikiwar Challengs</h1>
    <p>
    <%= @from_in_game_name %> is challenging you to fight in a battle of
    Vikiwar.
    </p>
    
    <p>
    Press the link to join the battle of <a href='<%= url_for(:host => "415vik.aquinas.hostingrails.com", :controller => "user_sessions", :action=> "linklogin", :gs_id => @gs_id) %>'><%= @gs_name %></a>.
    </p>

    

  </body>
</html>