<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <%= stylesheet_link_tag "error", :media => "all" %>
    <title>Vikiwar</title>
    <LINK REL="SHORTCUT ICON" HREF="http://415vik.aquinas.hostingrails.com/images/32x32/delete.png">
  
  </head>
  <body bgcolor="white" onload ="main();" >

      <%= yield :layout %>

  </body>
</html>
